body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #fdfbfb, #ebedee);
}

.app {
  font-family: Arial, sans-serif;
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    min-height: 80px;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    padding: 0.5rem;
      &:focus {
        outline: none;
        border-color: #ff6a00;
        box-shadow: 0 0 10px rgba(255, 106, 0, 0.3);
      }
        @media screen and (max-width: 768px) {
          margin: 0.5rem 0 0.5rem -0.5rem;
        }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-left: -0.5rem;
      @media screen and (max-width: 768px) {
        margin-left: 0.3rem;
      }

    button {
      padding: 0.5rem 1rem;
      background: linear-gradient(45deg, #ff6a00, #ee0979);;
      border: none;
      color: white;
      cursor: pointer;
      transition: transform 0.7s;
        &.active {
          transform: scale(0.97);
        }
          @media screen and (max-width: 768px) {
            padding-right:0.7rem ;
          }
    }
  }

  .previews {
    display: flex;
    flex-direction: column;

    .preview {
      border: 1px solid #ddd;
      padding: 1rem;
        @media screen and (max-width: 768px) {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: -1rem;
          margin-bottom: 1rem;
        }
    }
  }
}


