.app-footer {
  background-color: #1f2937;
  color: #f9fafb;
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  border-radius: 8px;
	@media screen and (max-width: 768px) {
		width: 100%;
	}

  p {
    margin: 0;
    font-size: 0.9rem;
  }

  .socials {
    margin-top: 0.5rem;

    a {
      color: #3b82f6;
      margin: 0 0.5rem;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #60a5fa;
      }
    }
  }
}
