.cta-btn {
  background-color: var(--primary-color);
  padding: 0.7rem 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.5s;
    &:hover {
      opacity: 0.8;
    }
}
